@import url('https://fonts.google.com/specimen/Roboto+Mono');


/* src/assets/styles/global.css */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, white, Black)
    
    
    
}

/* src/assets/styles/global.css */
.portfolio-title {
    color: rgb(255, 255, 255);
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html {
    scroll-behavior: smooth;

}
